{% extends "layout/base.twig" %}

{% block title %}
{{page_infos.title|default('My Dashboard')}}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ base_url() }}">Home</a></li>
<li><a href="{{ base_url('users') }}">Member area</a></li>
<li class="active">My Dashboard</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block content %}
 <div class="row section-home-grey padding-top-30">
   <div class="container">
     <div class="row">
       {% include 'users/partials/group_list.twig'%}
       <div class="col-xs-12 col-sm-4">
         <h3 class="title-border blue">My Databases</h3>
         <ul>
         {% for base in personal_db %}
           <li><a href="{{base_url('databases/' ~ base.id)}}">{{base.name}}</a></li>
         {% endfor %}
         </ul>
       </div>
     </div>
   </div>
 </div>
{% endblock %}
