{% extends "layout/base.twig" %}

{% block title %}Edit informations | {{user.username}}{% endblock %}

{% block head %}
{{parent()}}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row section-home-grey padding-top-30 padding-bottom-30">
    <div class="container">
      {% include 'layout/info_messages.twig'%}
      <div class="col-sm-6 col-xs-12">
          {{form_open('users/edit/' ~ user.id)}}
            {{forms.input('email', 'Email', 'E-mail', user.email, 'email')}}
            {{forms.input('password', 'Password', 'Password', '', 'password')}}
            {{forms.input('password_confirm', 'Password confirmation', 'Confirmation', '', 'password')}}

            {% if checkRight('edit', 'users') %}
            <div class="form-group">
              {{forms.select2Groups(user_groups, 'groups', groups)}}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-orange btn-lg">Save</button>
          {{form_close()}}
      </div>
  </div>
</div>
{% endblock %}

{% block footer_js %}
{{parent()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
  $("#groups").select2();
</script>
{% endblock %}
