{% extends "layout/base.twig" %}

{% block title %}Forgotten your password ?{% endblock %}

{% block head %}
{{ parent() }}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block breadcrumb %}
<li><a href="{{base_url()}}">Home</a></li>
<li><a href="{{ base_url('users/') }}">Espace Membre</a></li>
<li class="active">Forgotten your password ?</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block container %}
<div class="row section-home-grey padding-top-30 padding-bottom-30">
    <div class="container">
      {% include 'layout/info_messages.twig'%}
        <div class="col-sm-6 col-xs-12">
            {{form_open('users/forgotten_password')}}
              <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control input-lg" id="email" name="email" placeholder="E-mail" value="{{set_value('email')}}">
              </div>
              <div class="form-group">
                <label for="recaptcha">Are you a bot ?</label>
                {{getCaptchaMarkup()}}
              </div>
              <button type="submit" class="btn btn-orange btn-lg">Reset Password</button>
            {{form_close()}}
        </div>
  </div>
</div>
{% endblock %}
