{% extends "layout/base.twig" %}

{% block title %}Upload a new profile picture | {{user.username}}{% endblock %}

{% block breadcrumb %}
<li><a href="{{base_url()}}">Home</a></li>
<li><a href="{{ base_url('users/') }}">Member area</a></li>
<li class="active">Upload a new profile picture </li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block content %}
<div class="row section-home-grey padding-top-30 padding-bottom-30">
    <div class="container">
      {% include 'layout/info_messages.twig'%}
      <div class="col-xs-12">
        {% include 'users/partials/buttons_action.twig'%}
      </div>
      <div class="col-sm-12 col-xs-12">
          <h3>Current Picture</h3>
          <img src="{{base_url('img/users/' ~ user.id ~ '.png')}}" alt="{{user.username}}" />
          {{form_open_multipart('users/upload/' ~ user.id)}}
          <div class="form-group">
            <label for="cover_image">Profile picture</label>
            <input type="file" id="avatar" name="avatar">
            <p class="help-block">The picture will be resized to fit the format 100x100</p>
          </div>
            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
          {{form_close()}}
      </div>
  </div>
</div>
{% endblock %}
