{% extends "layout/base.twig" %}

{% block title %}
	{{page_infos.title|default('Users list')}}
{% endblock %}

{% block content %}
	<!-- Results -->
	<div class="row section-home-grey padding-top-30">
		<div class="container">
			<div class="col-xs-12">
				<h3>{{plural('User', count)}} </h3>
				<div class="row col-xs-12 news-search-result">
          {% for user in users %}
          <div class="col-xs-6 col-md-3">
            <h4><a href="{{base_url('users/profile/' ~ user.username)}}">{{user.username}}</a></h4>
            <p class="text-muted">
              {{user.first_name}} {{user.last_name}}
            </p>
            {% if isOwnerById(user.userId) or checkRight('edit', 'users') %}
            <p>
              <a href="{{base_url('users/edit/' ~ user.userId)}}" class="btn btn-default">Edit</a>
            </p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
			</div>
			<div class="col-xs-12">
				<nav>
					<ul class="pager btn-lg">
						{{pagination | raw}}
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}
