{% extends "layout/base.twig" %}

{% block title %}
{{page_infos.title|default('Administration')}}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ base_url() }}">Home</a></li>
<li><a href="{{ base_url('admin') }}">Administration</a></li>
<li class="active">Dashboard</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block content %}
 <!-- Results -->
 <div class="row section-home-grey padding-top-30">
   <div class="container">
     <div class="row">
      <div class="col-xs-12 col-md-6">
          <h3><a href="{{base_url('users')}}">Member area</a></h3>
          <ul>
            <li><a href="{{base_url('admin/users')}}">Users list</a></li>
            <li><a href="{{base_url('admin/users_of_group')}}">Users of a group</a></li>
            <li><a href="{{base_url('admin/groups')}}">Groups list</a></li>
            <li><a href="{{base_url('admin/create_group')}}">Create a group</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-md-6">
          <h3><a href="{{base_url('databases')}}">Databases</a></h3>
          <ul>
            <li><a href="{{base_url('admin/databases')}}">Databases list</a></li>
          </ul>
      </div>
     </div>
   </div>
 </div>
{% endblock %}
