{% extends "layout/base.twig" %}

{% block title %}Création d'un groupe{% endblock %}

{% block breadcrumb %}
<li><a href="{{base_url()}}">Home</a></li>
<li><a href="{{ base_url('admin/') }}">Administration</a></li>
<li class="active">Création d'un groupe</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block content %}
<div class="row section-home-grey padding-top-30 padding-bottom-30">
    <div class="container">
      {% include 'partials/info_messages.twig'%}
      <div class="col-sm-6 col-xs-12">
          {{form_open('admin/create_group/')}}
            <div class="form-group">
              <label for="name">Nom (les espaces seront retirés, vous pouvez mettre des tirets)</label>
              <input type="name" class="form-control input-lg" id="name" name="name" placeholder="Nom du groupe" value="{{set_value('name')}}">
            </div>
            <div class="form-group">
              <label for="name">Permissions</label>
              <textarea class="form-control" name="permissions" rows="3">{{set_value('permissions')|default('{"droit1":1, "droit2.edit":1}')|raw}}</textarea>
            </div>
            <button type="submit" class="btn btn-orange btn-lg">Créer le groupe</button>
          {{form_close()}}
      </div>
  </div>
</div>
{% endblock %}
