{% extends "layout/base.twig" %}

{% block title %}
{{page_infos.title|default('Groups list')}}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ base_url() }}">Home</a></li>
<li><a href="{{ base_url('admin') }}">Administration</a></li>
<li class="active">Groups list</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block content %}
 <!-- Results -->
 <div class="row section-home-grey padding-top-30">
   <div class="container">
     {% include 'layout/info_messages.twig'%}
     <div class="col-xs-12">
       <h3>{{plural('Group', count)}} </h3>
       <div class="row col-xs-12 news-search-result">
         <table class="table table-striped">
           <thead>
             <tr>
               <th>
                 Id
                 <a href="{{base_url('admin/groups/?orderBy=id')}}"><span class="glyphicon glyphicon-chevron-up"></span></a>
                 <a href="{{base_url('admin/groups/?orderBy=id&order=desc')}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
               </th>
               <th>
                 Name
                 <a href="{{base_url('admin/groups/?orderBy=name')}}"><span class="glyphicon glyphicon-chevron-up"></span></a>
                 <a href="{{base_url('admin/groups/?orderBy=name&order=desc')}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
               </th>
               <th>Edit</th>
             </tr>
           </thead>
           <tbody>
           {% for group in groups %}
             <tr>
               <th scope="row">{{group.id}}</th>
               <td><a href="{{base_url('admin/users_of_group/group_' ~ group.id)}}">{{group.name}}</a></td>
               <td>
                 <a href="{{base_url('users/edit_group/' ~ group.id)}}"><span class="glyphicon glyphicon-plus"></span></a>
                 <a href="{{base_url('admin/edit_group/' ~ group.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a href="{{base_url('admin/deleteGroup/' ~ session.key ~ '/' ~ group.id)}}"><span class="glyphicon glyphicon-remove"></span></a>
               </td>
             </tr>
           {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
     <div class="col-xs-12">
       <nav>
         <ul class="pager btn-lg">
           {{pagination | raw}}
         </ul>
       </nav>
     </div>
   </div>
 </div>
{% endblock %}
