{% extends "layout/base.twig" %}

{% block title %}Create a Database from CSV{% endblock %}
{% set menu = "databases" %}

{% block content %}
	<div class="row section-home-grey padding-top-30 padding-bottom-30"><div class="container">
		{% include 'layout/info_messages.twig'%}

		<div class="col-xs-12">
			{{ form_open_multipart('databases/create', 'id="createForm"') }}
				{{forms.input('basename', 'Database Name', 'Database Name', basename, 'text')}}
				<div class="form-group">
					<label for="group">Database Type</label>
					<select class="form-control" name="group" id="group">
						<option value="-1">Personal</option>
						{% for group in session.groups %}
							<option value="{{ group.id }}">{{ group.name }}</option>
						{% endfor %}
						<option value="-2">Create a New Group</option>
					</select>
				</div>
				<div class="form-group">
					<label for="location_key">Column containing information for the geolocalisation: </label>
					<select id="location_key" name="location_key">
						<option value="">No Column</option>
						{% for header in headers %}
							<option value="{{header}}" {% if header == location_key %}selected{% endif %}>{{header}}</option>
						{% endfor %}
					</select>
					<div class="alert alert-info" role="alert">If there are already "lat" and "lon" columns in the data don't change this input</div>
					<div class="alert alert-warning" role="alert">If you have selected a geolocalisation column, please check it as "information" below</div>
				</div>
				{{forms.input('group_name', 'Name Of the New Group', 'Name of the group', '', 'text')}}
				<div class="form-group">
					Is that database public ? <input type="checkbox" name="public" {% if  isPublic %}checked{% endif %}/>
				</div>
				
				{% include "databases/inc/coltypechoice.twig" with { 'chooseKey': true } %}
				
				<input type="hidden"  name="step"  value="2" />
				<button type="submit" class="btn btn-default">Submit</button>
			{{ form_close() }}
		</div>
	</div></div>
{% endblock %}

{% block footer_js %}
{{parent()}}
<script type="text/javascript">

function checkOrUncheckAllUnder(colName, row, isChecked)
{
	var checkboxId = colName + '-' + row;
	var checkbox = document.getElementById(checkboxId);
	while(checkbox)
	{
		checkbox.checked = isChecked;
		checkbox = document.getElementById(colName + '-' + row);//the element under this one
		row++;
	}
}

function uncheckOthersColumns(colName, row)
{
	var cols = ['metadata', 'mlvadata', 'noimport'];
	var index = cols.indexOf(colName);
	cols.splice(index, 1);
	for (var i = 0; i < cols.length; i++)
	{
		checkOrUncheckAllUnder(cols[i], row, false);
	}
}

/**
 * Check all the checkboxes under the one that is clicked
 * and unchecked others columns
 */
function checkAllUnder(colName, row)
{
	uncheckOthersColumns(colName, row);
	checkOrUncheckAllUnder(colName, row, document.getElementById(colName + '-' + row).checked);
}

$(document).ready(function()
{
	var group_name_input = $('#group_name');
	group_name_input.parent().hide();
  $('#group').on( "change", function()
  {
		if(parseInt($(this).val()) == -2)
		{
			group_name_input.parent().slideDown(400);
		}
		else
		{
			group_name_input.parent().slideUp(400);
		}
  });

	var createForm = $("#createForm");

	function infoToHtml(message, type)
	{
	  return '<div class="alert alert-'+type+'" role="alert">'+message+'</div>'
	}

	createForm.submit(function(e)
	{
	  createForm.hide(200, function() {
	    createForm.html(infoToHtml("Data are being imported, this can take a while if there are a lot of strains...", "info")).show(300);
	  });
	});
});
</script>
{% endblock %}
