{% if isOwnerById(user.id) or checkRight('edit', 'users') %}
<div class="col-xs-12 padding-bottom-30">
  <div class="btn-group btn-group-lg btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <a href="{{base_url('users/edit/' ~ user.id)}}" class="btn btn-default">Edit profile</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{{base_url('users/profile/' ~ user.username)}}" class="btn btn-info">Go to profile</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{{base_url('users/create_group/')}}" class="btn btn-primary">Create a new group</a>
    </div>
    {% if checkRight('delete', 'users') and user.id != session.user.id %}
    <div class="btn-group" role="group">
      <a href="{{base_url('users/delete/' ~ user.id ~ '/')}}" data-toggle="modal" data-target="#user_delete{{user.id}}" class="btn btn-danger">Delete the user</a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if checkRight('edit', 'users') and user.id != session.user.id %}
{{modals.modal_confirm("user_delete" ~ user.id,"Confirmation","Are You sure to delete this user ?", base_url('users/delete/' ~ user.id ~ '/' ~ session.key), "Delete", "btn-danger")}}
{% endif %}
