{% extends "layout/base.twig" %}

{% block title %}Export a database | {{base.name}}{% endblock %}
{% set menu = "databases" %}

{% block content %}
	<div class="row section-home-grey padding-top-30 padding-bottom-30"><div class="container">
	
		{% include "databases/inc/header.twig" with { 'mode': 'short' } %}
		
		<div class="row">
			{{ form_open('databases/exportCSV/' ~ base.id) }}
				<div class="col-sm-6 col-xs-12">
					
					<div class="form-group">
						<label for="panel">Panel</label>
						<select class="form-control" name="panel" id="panel">
							<option value="-1">None</option>
							{% for panel in panels %}
								<option value="{{ panel.id }}">{{ panel.name }}</option>
							{% endfor %}
						</select>
					</div>
					
					<div class="form-group">
						{% for data in base.metadata %}
							<div class="checkbox">
								<label><input type="checkbox" name="metadata[]" value="{{ data }}" checked /> {{ data }}</label>
							</div>
						{% endfor %}
					</div>
				</div>
				
				<div class="col-sm-6 col-xs-12">
					<div class="form-group">
						<label class="radio-inline">
							<input type="radio" name="csvMode" value="fr" checked /> French system ( ';' )
						</label>
						<label class="radio-inline">
							<input type="radio" name="csvMode" value="eng" />  English system ( ',' )
						</label>
					</div>
					
					<div class="form-group">
						<div class="checkbox">
							<div class="checkbox">
								<label><input type="checkbox" name="advanced" checked /> Advanced Export</label>
								<label><input type="checkbox" name="tempGN" /> Export Temp Genotype Number</label>
							</div>
						</div>
					</div>
					
					<button type="submit" class="btn btn-default">Export</button>
				</div>
			{{ form_close() }}
		</div>
	</div></div>
{% endblock %}
