{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">

	{% include "databases/inc/header.twig" with { 'mode': 'back to query' } %}

	<div id="svgCanvas"></div>

	<div class="form-group">
		<label for="code">Newick Tree code</label>
		<textarea onClick="this.select();" class="form-control" rows="3" name="code">{{ newickTree }}</textarea>
	</div>
	<div class="col-xs-12">
		<a target="_blank" href="http://cgi-www.cs.au.dk/cgi-chili/phyfi/go" class="btn btn-large btn-primary">Phyfi Website</a>
		<a target="_blank" href="http://www.trex.uqam.ca/index.php?action=newick" class="btn btn-large btn-primary">UQAM Website</a>
		<a target="_blank" href="http://etetoolkit.org/treeview/" class="btn btn-large btn-primary">ETE Website</a>
	</div>

</div></div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/raphael-min.js') }}"></script>
<script src="{{ base_url('dist/js/raphael-zpd.js') }}"></script>
<script src="{{ base_url('dist/js/jsphylosvg-min.js') }}"></script>
<script>
	$(document).ready(function() {

		var dataObject = { newick: '{{newickTree|raw}}' };
		phylocanvas = new Smits.PhyloCanvas(
			dataObject,
			'svgCanvas',
			800, 500
		);
  });
</script>
{% endblock %}
