{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">

	{% include "databases/inc/header.twig" with { 'mode': 'back to query' } %}
	
	<div id="svgCanvas"></div>
	
	<div class="form-group">
		<label for="code">Tree code</label>
		<textarea class="form-control" rows="3" name="code">{{ newickTree }}</textarea>
	</div>
	
</div></div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/raphael-min.js') }}"></script>
<script src="{{ base_url('dist/js/jsphylosvg-min.js') }}"></script>
<script>
	$(document).ready(function() {
		var dataObject = { newick: '{{newickTree|raw}}' };
		phylocanvas = new Smits.PhyloCanvas(
			dataObject,
			'svgCanvas',
			800, 800
		);
  });
</script>
{% endblock %}
