{% macro modal(id, header, message, buttons) %}
<!-- Modal -->
<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{buttons}}
      </div>
    </div>

  </div>
</div>
{% endmacro %}

{% macro modal_confirm(id, header, message, link, btn_msg, btn_class) %}
<!-- Modal -->
<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{{link}}"class="btn {{btn_class}}">{{btn_msg}}</a>
      </div>
    </div>

  </div>
</div>
{% endmacro %}
