{% extends "layout.twig" %}
{% block breadcrumb_container %}{% endblock %}
{% block presenter_container %}{% endblock %}

{% block home_slider %}
<!-- Slider -->
<div class="slider_container">
  <div class="container js-flickity">
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/idiots.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>IDIOTS - Parodie iPhone</h2>
        <p>Idiots est un court-métrage d’animation réalisé par Big Lazy Robot (BLR), qui met en scène des robots qui passent leur journée sur leur ....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/reality.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>Making Of de Bolides</h2>
        <p>VoicIl a bénéficié de l'enregistrement d'une musique originale composée et orchestrée par Baptiste Brice et interprétée par l'orchestre symphonique d'Asnières-sur-Seine dirigé par Alejandro Sandler.....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/maker.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>The Maker - Parodie Scarface</h2>
        <p>Idiots est un court-métrage d’animation réalisé par Big Lazy Robot (BLR), qui met en scène des robots qui passent leur journée sur leur ....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block container %}
<!-- Présentation -->
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <div class="col-xs-4 col-sm-3 col-md-2">
          <img src="{{base_url('img/logohome.png')}}" alt="Logo">
      </div>
      <div class="col-xs-8 col-sm-9 col-md-10">
        <h3>C'est quoi le Stop Motion?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam id laborum quo nulla saepe ipsum exercitationem aliquid molestiae sed, debitis unde, explicabo, modi delectus illum aspernatur commodi officiis soluta.</p>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10">
        <h3>Et Le Monde Du Stop Motion.fr ?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam id laborum quo nulla saepe ipsum exercitationem aliquid molestiae sed, debitis unde, explicabo, modi delectus illum aspernatur commodi officiis soluta.</p>
      </div>
    </div>
  </div>
</div>
<!-- News Slider -->
<div class="row section-home-grey">
  <h2 class="text-center">Les derniers articles</h2>
  <div class="container js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true }'>
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block">
        <div class="card-header">
          Actualités
        </div>
        <img class="card-img-top" src="http://placehold.it/513x209/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">9 Conseils pour réaliser un court-métrage en stop motion</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero alias nesciunt</p>
          <a href="#" class="btn btn-primary pull-right">Lire</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block">
        <div class="card-header">
          Tutoriels
        </div>
        <img class="card-img-top" src="http://placehold.it/513x209/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Festival Ciné Brique - Fans de Briques</h4>
          <p class="card-text"><small class="text-muted">Par Arthur</small></p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero alias nesciunt, iure nostrum, quos excepturi, nulla quod ipsum dolore quasi explicabo suscipit voluptas culpa ab porro consequatur accusantium? Suscipit, veritatis!</p>
          <a href="#" class="btn btn-primary">Lire</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block">
        <img class="card-img-top" src="http://placehold.it/513x209/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Hey men</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero alias nesciunt, iure nostrum, quos excepturi, nulla quod ipsum dolore quasi explicabo suscipit voluptas culpa ab porro consequatur accusantium? Suscipit, veritatis!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-primary text-right">Lire</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block">
        <img class="card-img-top" src="http://placehold.it/513x209/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">I got a feeling</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero alias nesciunt, iure nostrum, quos excepturi, nulla quod ipsum dolore quasi explicabo suscipit voluptas culpa ab porro consequatur accusantium? Suscipit, veritatis!</p>
          <a href="#" class="btn btn-primary">Lire</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-top-30">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Les articles incontournables</h3>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-block">
        <img class="card-img-top" src="http://placehold.it/475x194/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-block">
        <img class="card-img-top" src="http://placehold.it/475x194/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-block">
        <img class="card-img-top" src="http://placehold.it/475x194/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Forum -->
<div class="row section-home-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Le forum</h3>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-header">
            Hey man
          </div>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting gfdgdfg below as a natural lead-in to additional content.</p>
            <a href="#">Go gfd</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-header">
            Ray man
          </div>
          <div class="card-block">
            <h4 class="card-title">Special fdsfsdfdsfs treatment</h4>
            <p class="card-text">With supporting fssdfsf below as a natural lead-in to additional content.</p>
            <a href="#">Go dfss</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="card-header">
            Nouveautés
          </div>
          <div class="card-block">
            <h4 class="card-title">Special dfs fds</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% block videos_slider%}
  <!-- Video Slider -->
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <div class="col-sm-12">
          <h3 class="text-center">Un échantillon de vidéos de Stop Motion</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="col-sm-12">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#last-videos" aria-controls="last-videos" role="tab" data-toggle="tab">Dernière vidéos</a></li>
              <li role="presentation"><a href="#best-videos" aria-controls="best-videos" role="tab" data-toggle="tab">best-videos</a></li>
              <li role="presentation"><a href="#most-viewed" aria-controls="most-viewed" role="tab" data-toggle="tab">most-viewed</a></li>
              <li role="presentation"><a href="#most-commented" aria-controls="most-commented" role="tab" data-toggle="tab">most-commented</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="last-videos" data-flickity-options='{ "cellAlign": "left", "contain": true }'>
                <div class="video-gallery">
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="#">
                      <div class="card">
                        <div class="card-header">
                          Aventure
                        </div>
                          <img class="card-img-top" src="{{ base_url("img/videos/5.jpg")}}" alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Card vidéo de Stop motion</h4>
                          <p class="card-text"><small class="text-muted">Par Antonin</small></p>
                          <p class="card-text">Some quick dsfdsfd text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            45 votes
                          </div>
                        </div>
                        <p class="card-text text-center"><small class="text-muted">10000 vues &middot;  2 commentaires</small></p>
                        <div class="card-footer text-muted">15 Juillet 2014</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="#">
                      <div class="card">
                        <div class="card-header">
                          Aventure
                        </div>
                          <img class="card-img-top" src="{{ base_url("img/videos/2.jpg")}}" alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Card vidéo de Stop motion</h4>
                          <p class="card-text"><small class="text-muted">Par Antonin</small></p>
                          <p class="card-text">Some quick dsfdsfd text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <p class="card-text text-center"><small class="text-muted">10000 vues &middot;  2 commentaires</small></p>
                        <div class="card-footer text-muted">4 Mai 2013</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="#">
                      <div class="card">
                        <div class="card-header">
                          Action
                        </div>
                          <img class="card-img-top" src="{{ base_url("img/videos/4.jpg")}}" alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Le fabuleux destin d'Amélie Poulain</h4>
                          <p class="card-text"><small class="text-muted">Par Nicolas</small></p>
                          <p class="card-text">Some sqdsqdqs sdqds dsfdsfd text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <p class="card-text text-center"><small class="text-muted">10000 vues &middot;  2 commentaires</small></p>
                        <div class="card-footer text-muted">4 Mai 2013</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="#">
                      <div class="card">
                        <div class="card-header">
                          Making Of
                        </div>
                          <img class="card-img-top" src="{{ base_url("img/videos/1.jpg")}}" alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Card sqdsqd sqd de Stop motion</h4>
                          <p class="card-text"><small class="text-muted">Par Antonin</small></p>
                          <p class="card-text">Some quick dsfdsfd fdsdfsdftext to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <p class="card-text text-center"><small class="text-muted">75000 vues &middot;  2 commentaires</small></p>
                        <div class="card-footer text-muted">25 décembre 2015</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="best-videos">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="card card-block">
                      <img class="card-img-top" src="http://placehold.it/318x180/" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card qsdsqd</h4>
                        <p class="card-text">Some fddsfon the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="card card-block">
                      <img class="card-img-top" src="http://placehold.it/318x180/" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card dsq</h4>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="card card-block">
                      <img class="card-img-top" src="http://placehold.it/318x180/" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="most-viewed">
                  <div class="col-xs-6 col-sm-6">
                    <h3>To do2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero alias nesciunt, iure nostrum, quos excepturi, nulla quod ipsum dolore quasi explicabo suscipit voluptas culpa ab porro consequatur accusantium? Suscipit, veritatis!</p>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="most-commented">
                  <div class="col-xs-6 col-sm-6">
                    <h3>To do3</h3>
                    <p>Lorem ipsum  nostrum, quos excepturi, nulla quod ipsum dolore quasi explicabo suscipit voluptas culpa ab porro consequatur accusantium? Suscipit, veritatis!</p>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
