{% extends "layout/base.twig" %}

{% block title %}Create a Database from CSV{% endblock %}
{% set menu = "databases" %}

{% block content %}
	<div class="row section-home-grey padding-top-30 padding-bottom-30"><div class="container">
		{% include 'layout/info_messages.twig'%}

		<div class="col-xs-12">
			{{ form_open_multipart('databases/create') }}
				{{forms.input('basename', 'Database Name', 'Database Name', basename, 'text')}}
				<div class="form-group">
					<label for="group">Database Type</label>
					<select class="form-control" name="group" id="group">
						<option value="-1">Personal</option>
						{% for group in session.groups %}
							<option value="{{ group.id }}">{{ group.name }}</option>
						{% endfor %}
						<option value="-2">Create a New Group</option>
					</select>
				</div>
				{{forms.input('group_name', 'Name Of the New Group', 'Name of the group', '', 'text')}}
				<div class="form-group">
					Is that database public ? <input type="checkbox" name="public" />
				</div>
				<div class="form-group">
					<label for="table">Database Type</label>
					<table class="table table-hover">
						<thead><tr>
							<th></th>
							<th>Key/Name</th>
							<th>Information</th>
							<th>MLVA</th>
						</tr></thead>
						<tbody>
							{% for header in headers %}
								<tr>
									<td>{{ header }}</td>
									<td><input type="radio" name="name" value="{{ header }}"></td>
									<td><input type="checkbox" id="metadata-{{loop.index}}" onclick="checkAllUnder('metadata', {{loop.index}})" name="metadata[]" value="{{ header }}"></td>
									<td><input type="checkbox" id="mlvadata-{{loop.index}}" onclick="checkAllUnder('mlvadata', {{loop.index}})"  name="mlvadata[]" value="{{ header }}"></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden"  name="step"  value="2" />
				<button type="submit" class="btn btn-default">Submit</button>
			{{ form_close() }}
		</div>
	</div></div>
{% endblock %}

{% block footer_js %}
{{parent()}}
<script type="text/javascript">

function checkOrUncheckAllUnder(colName, row, isChecked)
{
	var checkboxId = colName + '-' + row;
	var checkbox = document.getElementById(checkboxId);
	while(checkbox)
	{
		checkbox.checked = isChecked;
		checkbox = document.getElementById(colName + '-' + row);//the element under this one
		row++;
	}
}

function uncheckOthersColumns(colName, row)
{
	var cols = ['metadata', 'mlvadata', 'noimport'];
	var index = cols.indexOf(colName);
	cols.splice(index, 1);
	for (var i = 0; i < cols.length; i++)
	{
		checkOrUncheckAllUnder(cols[i], row, false);
	}
}

/**
 * Check all the checkboxes under the one that is clicked
 * and unchecked others columns
 */
function checkAllUnder(colName, row)
{
	uncheckOthersColumns(colName, row);
	checkOrUncheckAllUnder(colName, row, document.getElementById(colName + '-' + row).checked);
}

$(document).ready(function()
{
	var group_name_input = $('#group_name');
	group_name_input.parent().hide();
  $('#group').on( "change", function()
  {
		if(parseInt($(this).val()) == -2)
		{
			group_name_input.parent().slideDown(400);
		}
		else
		{
			group_name_input.parent().slideUp(400);
		}
  });
});
</script>
{% endblock %}
