{% extends "layout/base.twig" %}

{% block title %}My Databases{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		{% include 'layout/info_messages.twig'%}
		<h3 class="title-border blue">My Databases <small><a class="accordion-toggle" data-toggle="collapse" href="#personal">(toggle)</a></small></h3>
		<p>Your private databases, they are not shared with other users. Click on column headers do sort the databases.</p>
		<div id="personal" class="accordion-body collapse in">
			<div class="accordion-inner">
				{% include "databases/list.twig" with { 'bases' : personal } %}
			</div>
		</div>

		<br/>

		<h3 class="title-border blue">My Groups</h3>
		<p>Your shared databases, sorted by groups. Click the name of the group to toggle the list of databases. Click on column headers do sort the databases.</p>

		{% for group in groups %}
			<h3 class="blue" id="head-group{{ loop.index }}">
				<a class="accordion-toggle" data-toggle="collapse" href="#group{{ loop.index }}">{{ group.name }}</a>
				<a href="{{base_url('users/edit_group/' ~ group.group_id)}}" class="btn btn-default"><span class=" glyphicon glyphicon-pencil"></span> Edit</a>
			</h3>
			<p>
				{{group.description}}
			</p>
			<p class="text-muted">
				Members:
				{% for member in group.members %}
					{{member.username}} &middot;
				{% endfor %}
			</p>
			<div id="group{{ loop.index }}" class="accordion-body collapse">
				<div class="accordion-inner">
					{% include "databases/list.twig" with { 'bases' : group.bases } %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/jquery.tablesorter.min.js') }}"></script>
<script>
	$(document).ready(function() {
		// Table sorter
		$(".database-list").tablesorter({
			theme: 'blue',
			headerTemplate: '{content} <small>{icon}</small>',
		});
  });
</script>
{% endblock %}