{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">

	{% include "databases/inc/header.twig" with { 'mode': 'query' } %}

	<p>
		<a role="button" class="maskLink" data-col="coldist">Distance to reference</a>
		- <a role="button" class="maskLink" data-col="colkey">Key</a>
		{% for data in base.metadata %}
			- <a role="button" class="maskLink" data-col="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ data }}</a>
		{% endfor %}
	</p>

	{# <div class="col-xs-12" style="overflow-x: scroll; width: 100%"> #}
		<table id="strain-list" class="tablesorter table table-condensed database table-striped">
			<thead><tr>
				<th class="coldist">Distance to queried strain</th>
				<th class="colkey">Key</th>
				{% for data in base.metadata %}
					<th class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ data }}</th>
				{% endfor %}
				{% for data in filter.data %}
					{% if ref[data] != '' %}
					<th class="marker">{{ data }}</th>
					{% endif %}
				{% endfor %}
			</tr><tr>
				<td class="coldist"></td>
				<td class="colkey"><b>Reference strain</b></td>
				{% for data in base.metadata %}
					<td class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}"></td>
				{% endfor %}
				{% for data in filter.data %}
					{% if ref[data] != '' %}
						<td class="marker">{% if ref[data] >= 0 %}<b>{{ ref[data] }}</b>{% endif %}</td>
					{% endif %}
				{% endfor %}
			</tr></thead>
			<tbody>
				{% for strain in strains %}
					<tr>
						<td class="coldist">{{ strain.dist_to_ref }}</td>
						<td class="colkey">{{ strain.name }}</td>
						{% for data in base.metadata %}
							<td class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ auto_link_publication(strain.metadata[data]) }}</td>
						{% endfor %}
						{% for data in filter.data %}
							{% if ref[data] != '' %}
								{% if ref[data] >= 0 %}
									{% if (strain.data[data] == ref[data]) %}
										<td class="marker bg-success">
											{{ strain.data[data] }}
										</td>
									{% else %}
										<td class="marker bg-danger">
											{{ strain.data[data] }}
										</td>
									{% endif %}
								{% else %}
									<td class="marker">
										{{ strain.data[data] }}
									</td>
								{% endif %}
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{# </div> #}
</div></div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/jquery.tablesorter.min.js') }}"></script>
<script>
	$(document).ready(function() {
    $("#strain-list").tablesorter({
			theme: 'blue',
			headerTemplate: '{content} <small>{icon}</small>',
			sortList: [[0,0]],
			sortForce: [[0,0]],
			// cssIcon: 'glyphicon',
			// cssIconNone: 'glyphicon-triangle-right',
			// cssIconAsc: 'glyphicon-triangle-up',
			// cssIconDesc: 'glyphicon glyphicon-triangle-down',
			headers : {
				'.marker'   : { sorter: false }
			}
		});
		//Toggle columns
		$('.maskLink').on('click', function()
		{
			var column = $(this).data('col');
			$('.'+column).toggle();
			$(this).toggleClass("text-muted");
		});
  });
</script>
{% endblock %}
