{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">

	{% include "databases/inc/header.twig" with { 'mode': 'short' } %}

	{{ form_open('databases/query/' ~ base_and_panel(base.id, filter.id)) }}
		<table id="strain-list" class="tablesorter table table-condensed database">
			<thead><tr>
				<th>Key</th>
				{% for data in filter.data %}
					<th class="marker">{{ data }}</th>
				{% endfor %}
			</tr></thead>
			<tbody>
				{% if example %}
					<tr>
						<td><i>Example of strain</i>
							<span id="copy-btn" class="btn btn-default">Copy</span>
						</td>
						{% set exampleData = '' %}

						{% for data in filter.data %}
							<td class="marker">{{ example.data[data] }}</td>
							{% if loop.index == 1 %}
								{% set exampleData = example.data[data] %}
							{% else %}
								{% set exampleData = exampleData ~ '-' ~ example.data[data] %}
							{% endif %}
						{% endfor %}
						<span id="exampleData" style="display:none;">{{exampleData}}</span>
					</tr>
				{% endif %}
				<tr>
					<td>Strain to compare to</td>
					{% for data in filter.data %}
						{% if loop.index == 1 %}
							<td class="firstInput">
						{% else %}
							<td>
						{% endif %}
								<input class="form-control marker" name="data[{{ data }}]" value="" type="text">
							</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>

		<div class="form-group">
			<label for="max_dist">Maximal distance</label> <input class="form-control" name="max_dist" value="0" type="text" />
		</div>

		<div class="form-group">
			<label for="max_amount">Maximal strains number</label> <input class="form-control" name="max_amount" value="20" type="text" />
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	{{ form_close() }}

</div></div>
{% endblock %}

{% block footer_js %}
{{parent()}}
<script>
$(document).ready(function() {
	/**
	 * Parse the first input on change to fill the others inputs automatically
	 */
	function parseAndFillInputs(text)
	{
		var delimiters = [/\t/, /\s/, '-'];
		var nbMaxElem = -1;
		var tab = [];// Array containing the values for the inputs
		//Determine which delimiter we should consider
		for (var i = 0; i < delimiters.length; i++)
		{
			var temp = text.split(delimiters[i]);
			if (temp.length > nbMaxElem)
			{
				tab = temp;
				nbMaxElem = temp.length;
			}
		}
		// Fill the inputs until the tab is empty
		$( ".form-control.marker" ).each(function()
		{
			if(tab.length >= 1)
			{
				$(this).val(tab.shift());
			}
			else
			{
				return false;
			}
		});
	}
	$('.firstInput .form-control.marker').on('change', function()
	{
		parseAndFillInputs($(this).val());
	});
	$('#copy-btn').on('click', function()
	{
		parseAndFillInputs($('#exampleData').text());
	});
});
</script>
{% endblock %}
