{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-12">
	<div class="title-border blue">
		<div class="btn-group pull-right" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Import</button>
			<button type="button" class="btn btn-default" onclick="document.location = '{{base_url('databases/export')}}/{{ base.id }}';">Export</button>
			<button type="button" class="btn btn-default" onclick="if(confirm('Are you sure?')){document.location = '{{base_url('databases/delete')}}/{{ base.id }}'}">Delete</button>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Panel selection
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Travail 1</a></li>
					<li><a href="#">Travail 2</a></li>
					<li><a href="#">Expérimental</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Handle Panels</a></li>
				</ul>
			</div>
		</div>
		
		<h3 class="blue">{{ base.name }}</h3>
		<h5 class="gray">Owned by {{ group.name }}</h5>
	</div>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum. Curabitur gravida, neque quis malesuada vulputate, arcu purus posuere nibh, a scelerisque dui justo vel nibh. Vestibulum eget urna in lacus vulputate malesuada non ut dui. Nullam a lacus nibh. Mauris eget ornare lorem, ut dapibus odio. Maecenas at ex sollicitudin tellus commodo sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend, enim at pharetra vestibulum, tortor mi cursus neque, laoreet efficitur lacus leo eget eros. Sed bibendum dui sed sagittis placerat. </p>
	
	<table class="table table-condensed database">
		<thead><tr>
			<th>Key</th>
			{% for data in base.metadata %}
				<th>{{ data }}</th>
			{% endfor %}
			{% for data in base.data %}
				<th class="marker">{{ data }}</th>
			{% endfor %}
		</tr></thead>
		<tbody>
			{% for strain in strains %}
				<tr>
					<td>{{ strain.name }}</td>
					{% for data in base.metadata %}
						<td>{{ strain.metadata[data] }}</td>
					{% endfor %}
					{% for data in base.data %}
						<td>{{ strain.data[data] }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
</div></div>
{% endblock %}
