{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">
	{% include 'layout/info_messages.twig'%}
	<div class="title-border blue">
		<div class="btn-group pull-right" role="group" aria-label="...">
			<button type="button" class="btn btn-default" onclick="document.location = '{{base_url('databases/export/' ~ base.id)}}';">Export</button>
			{% if level >= 2 %}
				<button type="button" class="btn btn-default" onclick="document.location = '{{base_url('databases/map/' ~ base.id)}}';">Strains geolocalisation</button>
				<button type="button" class="btn btn-default" onclick="document.location = '{{base_url('databases/import/' ~ base.id)}}';">Import</button>
				<button type="button" class="btn btn-default" onclick="document.location = '{{base_url('databases/edit/' ~ base.id)}}';">Edit</button>
			{% endif %}
			{% if level >= 3 %}
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#database_delete">Delete</button>
				{{ modals.modal_confirm("database_delete","Confirmation","Are you sure to delete this database?", base_url('databases/delete/' ~ base.id), "Delete", "btn-danger") }}
			{% endif %}
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Panel selection
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{% if panels|length == 0 %}
						<li><center><i>No panel</i></center></li>
					{% endif %}
					{% for panel in panels %}
						{% if filter.name == panel.name %}
							<li><a href="?"><b>{{ panel.name }}</b></a></li>
						{% else %}
							<li><a href="?panel={{ panel.id }}">{{ panel.name }}</a></li>
						{% endif %}
					{% endfor %}
					{% if level >= 2 %}
						<li role="separator" class="divider"></li>
						<li><a href="{{base_url('databases/editPanels/' ~ base.id)}}">Handle Panels</a></li>
					{% endif %}
				</ul>
			</div>
		</div>

		<h3 class="blue">{{ base.name }}</h3>
		<h5 class="gray">Owned by {{ ownername }}</h5>
	</div>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum. Curabitur gravida, neque quis malesuada vulputate, arcu purus posuere nibh, a scelerisque dui justo vel nibh. Vestibulum eget urna in lacus vulputate malesuada non ut dui. Nullam a lacus nibh. Mauris eget ornare lorem, ut dapibus odio. Maecenas at ex sollicitudin tellus commodo sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend, enim at pharetra vestibulum, tortor mi cursus neque, laoreet efficitur lacus leo eget eros. Sed bibendum dui sed sagittis placerat. </p>

	<p>
		<a onclick="$('.colkey').toggle()">Key</a>
		{% for data in base.metadata %}
			- <a onclick="$('.col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}').toggle()">{{ data }}</a>
		{% endfor %}
	</p>


	<table id="strain-list" class="tablesorter table table-condensed database">
		<thead><tr>
			<th class="colkey">Key</th>
			{% for data in base.metadata %}
				<th class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ data }}</th>
			{% endfor %}
			{% for data in filter.data %}
				<th class="marker">{{ data }}</th>
			{% endfor %}
		</tr></thead>
		<tbody>
			{% for strain in strains %}
				<tr>
					<td class="colkey">{{ strain.name }}</td>
					{% for data in base.metadata %}
						<td class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ strain.metadata[data] }}</td>
					{% endfor %}
					{% for data in filter.data %}
						<td>{{ strain.data[data] }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div></div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/jquery.tablesorter.min.js') }}"></script>
<script>
	$(document).ready(function() {
        $("#strain-list").tablesorter({
			theme: 'blue',
			headerTemplate: '{content} <small>{icon}</small>',
			// cssIcon: 'glyphicon',
			// cssIconNone: 'glyphicon-triangle-right',
			// cssIconAsc: 'glyphicon-triangle-up',
			// cssIconDesc: 'glyphicon glyphicon-triangle-down',
			headers : {
				'.marker'   : { sorter: false }
			}
		});
    });
</script>
{% endblock %}
