{% extends "layout/base.twig" %}

{% block title %}View {{ base.name }}{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">

	{% include "databases/inc/header.twig" %}

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum. Curabitur gravida, neque quis malesuada vulputate, arcu purus posuere nibh, a scelerisque dui justo vel nibh. Vestibulum eget urna in lacus vulputate malesuada non ut dui. Nullam a lacus nibh. Mauris eget ornare lorem, ut dapibus odio. Maecenas at ex sollicitudin tellus commodo sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend, enim at pharetra vestibulum, tortor mi cursus neque, laoreet efficitur lacus leo eget eros. Sed bibendum dui sed sagittis placerat. </p>

	<p>
		<a role="button" class="maskLink" data-col="colkey">Key</a>
		{% for data in base.metadata %}
			- <a role="button" class="maskLink" data-col="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ data }}</a>
		{% endfor %}
		{% if showGN %}
			- <a role="button" class="maskLink" data-col="col">Genotype Number</a>
		{% endif %}
	</p>

	{# <div class="col-xs-12" style="overflow-x: scroll; width: 100%"> #}
		<table id="strain-list" class="tablesorter table table-condensed database table-striped">
			<thead><tr>
				<th class="colkey">Key</th>
				{% for data in base.metadata %}
					<th class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ data }}</th>
				{% endfor %}
				{% if showGN %}
					<th class="colgenonum">Genotype Number - {{ filter.name }}</th>
				{% endif %}
				{% for data in filter.data %}
					<th class="marker">{{ data }}</th>
				{% endfor %}
			</tr></thead>
			<tbody>
				{% for strain in strains %}
					<tr>
						<td class="colkey">{{ strain.name }}</td>
						{% for data in base.metadata %}
							<td class="col-{{ data|replace({' ': '_'})|replace({'.': '_'}) }}">{{ auto_link_publication(strain.metadata[data]) }}</td>
						{% endfor %}
						{% if showGN %}
							<td class="colgenonum">{% if strain.genonum > 0 %}{{ strain.genonum }}{% endif %}</td>
						{% endif %}
						{% for data in filter.data %}
							<td class="marker">{{ strain.data[data] }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{# </div> #}

</div></div>
{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/jquery.tablesorter.min.js') }}"></script>
<script>
	$(document).ready(function() {
		$("#strain-list").tablesorter({
			theme: 'blue',
			headerTemplate: '{content} <small>{icon}</small>',
			// cssIcon: 'glyphicon',
			// cssIconNone: 'glyphicon-triangle-right',
			// cssIconAsc: 'glyphicon-triangle-up',
			// cssIconDesc: 'glyphicon glyphicon-triangle-down',
			headers : {
				'.marker'   : { sorter: false }
			}
		});
		//Toggle columns
		$('.maskLink').on('click', function()
		{
			var column = $(this).data('col');
			console.log(column);
			$('.'+column).toggle();
			$(this).toggleClass("text-muted");
		});
		
		$('td.marker').each(function() {
			var x = Math.min(parseInt( $(this).text() ), 15) / 15.0;
			var r = parseInt(x * 240 + (1-x) * 240);
			var g = parseInt(x *  30 + (1-x) * 128);
			var b = parseInt(x *   0 + (1-x) *   0);
			$(this).css('color', "rgb("+r+","+g+","+b+")");
			$(this).css('font-weight', "bold");
		});
  });
</script>
{% endblock %}
