{% extends "base.twig" %}
{% block menu %}
<!-- mp-menu -->
<nav id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <h2>Le Monde Du Stop Motion.fr</h2>
    <ul>
      <li>
        <a href="#">Vidéos</a>
        <div class="mp-level">
          <h2>Vidéos</h2>
          <a class="mp-back" href="#">Retour</a>
          <ul>
            <li><a href="{{base_url('videos')}}">Dernières vidéos</a></li>
            <li><a href="{{base_url('videos/most_viewed/')}}">Les plus vues</a></li>
            <li><a href="{{base_url('videos/most_commented/')}}">Les plus commentées</a></li>
            <li><a href="{{base_url('videos/best_rated/')}}">Les mieux notées</a></li>
            <li><a href="#">Vidéos à la une</a></li>
            <li><a href="#">Au hasard</a></li>
            <li><a href="{{base_url('search')}}">Recherche</a></li>
            <li><a href="#">Catégories</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{{base_url('news/')}}">Articles</a>
        <div class="mp-level">
          <h2>Articles</h2>
          <a class="mp-back" href="#">Retour</a>
          <ul>
            <li><a href="{{base_url('news/')}}">Derniers articles</a></li>
            <li><a href="{{base_url('news/most_viewed/')}}">Les plus vus</a></li>
            <li><a href="{{base_url('news/most_commented/')}}">Les plus commentés</a></li>
            <li><a href="#">Ajouter un article</a></li>
            <li><a href="#">Recherche</a></li>
            <li><a href="#">Catégories</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Forum</a></li>
      <li>
        <a href="#">Envoyer une vidéo</a>
        <div class="mp-level">
          <h2>Envoyer une vidéo</h2>
          <a class="mp-back" href="#">Retour</a>
          <ul>
            <li><a href="#">Envoyer une vidéo</a></li>
            <li><a href="#">Liste d'attente</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Espace Membre</a>
        <div class="mp-level">
          <h2 class="icon icon-news">Espace Membre</h2>
          <a class="mp-back" href="#">Retour</a>
          <ul>
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Liste des membres</a></li>
            <li><a href="#">Recherche</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>
<!-- /mp-menu -->
{% endblock %}
