{% extends "layout.twig" %}

{% block title %}{{article.titre}}{% endblock %}

{% block breadcrumb %}
<li><a href="{{base_url()}}">Home</a></li>
<li><a href="{{base_url('news/')}}">News</a></li>
<li class="active">{{article.category}}</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block container %}
<section class="row section-home-grey padding-top-30">
  <div class="container news-unique">
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-block">
          <div class="card-header">
            {{article.category}}
            <span class="pull-right"> {{article.vues}} vues &middot;  {{plural('commentaire', article.nb_com)}}</span>
          </div>
          <div class="row">
            <div class="col-sm-12 news-img-top">
              <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
            </div>
          </div>
          <div class="row">
            <article class="col-md-8 news-content">
              <div class="card-block">
                <h2 class="card-title">{{article.titre}}</h2>
                <p class="card-text">
                  <small class="text-muted">Par {{article.auteur|capitalize}} - {{article.date}}</small>
                </p>
                {{article.intro | raw}}
                {% if article.lien_video %}
                  <h3>La vidéo de l'article</h3>
                  {{auto_iframe('[video]' ~ article.lien_video)}}
                {% endif %}
                {{auto_iframe(article.contenu) | raw }}
                <div class="card-block section-home-grey">
                  <h4 class="card-title">Sharing is caring</h4>
                    <p>Merci de partager cet article si il vous a plu</p>
                </div>
              </div>
            </article>
            <aside class="col-md-4">
              <div class="row">
                <div class="card-block">
                  <div class="card-header">A propos de <b>{{article.auteur|capitalize}}</b> :</div>
                    <img src="{{vanillicon(article.auteur)}}" class="pull-left padding-right-10">
                    <p>{{article.bio}}</p>
                </div>
              </div>
              <div class="row">
                <div class="card-block">
                  <div class="card-header">Suggestion</div>
                  <img src="http://placehold.it/475x194" alt="" />
                  <h4 class="card-title">Mon bel article</h4>
                  <p>Bel article pplication developer. He dislikes mean people but likes the MEAN stack (MongoDB, ExpressJS, AngularJS, Node.js). During a typical week, he'll be coding in JavaScript, writing about JavaScript, or watching movies NOT about JavaScript.</p>
                </div>
              </div>
              <div class="row">
                <div class="card-block">
                  <div class="card-header">Dans la même catégorie</div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="">Cras justo odio</a></li>
                      <li class="list-group-item"><a href="">Dapibus ac facilisis in</a></li>
                      <li class="list-group-item"><a href="">Vestibulum at eros</a></li>
                    </ul>
                </div>
              </div>
              <div class="row">
                <div class="card-block">
                  <div class="card-header">Publicité</div>
                  <img src="http://placehold.it/400x100" alt="" />
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      {% include 'partials/comments.twig' %}
    </div>
  </div>
</section>
{% endblock %}
