{% extends "base.twig" %}

{% block title %}
{{page_infos.title|default('Les derniers articles, tutoriels, news')}}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ base_url() }}">Home</a></li>
<li class="active">Articles</li>
{% endblock %}

{% block presenter_title %}{{ block('title') }}{% endblock %}

{% block container %}
<!-- News Gallery -->
<div class="row section-home-grey padding-top-30">
  <div class="container">
    <div class="col-xs-12">
      <div class="alert alert-info" role="alert"><a href="#" class="alert-link">Pour proposer un article, cliquez ici</a></div>
    </div>
    {% for article in news %}
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block card-news">
        <div class="card-header">
          {{article.category}}
          <span class="pull-right"> {{article.vues}} vues &middot;  {{plural('Commentaire', article.nb_com)}}</span>
        </div>
        <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><a href="{{urlTitle('news', article.titre, article.id)}}">{{article.titre}}</a></h4>
          <p class="card-text"><small class="text-muted">Par {{article.auteur|capitalize}}</small></p>
          <p class="card-text">
            {{character_limiter(article.intro, 350) | raw}}
          </p>
          <a href="{{urlTitle('news', article.titre, article.id)}}" class="btn btn-primary">Lire l'article</a>
        </div>
        <div class="card-footer text-muted">{{article.date | date("d/m/Y") }}</div>
      </div>
    </div>
    {% endfor %}
    <div class="col-xs-12">
      <nav>
        <ul class="pager btn-lg">
          {{pagination | raw}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}
